/* body */
body {
    color: #ffffff;
    background-color: #202024;
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
}


/* header */
header {
    padding: 30px 30px 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header label {
    font-size: 20px;
}
header img {
    width: 50px;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

.menu {
    align-items: center;
    gap: 75px;
    display: flex;
}

.menu-buttons {
    display: flex;
    gap: 20px;
}

.menu-buttons button {
    border-radius: 18px;
    background-color: #ffffff;
    color: #202024;
    width: 98px;
    height: 38px;
    border: 3px solid #ffffff;
    transition: all ease 0.5s;
    font-size: 16px;
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal
}

.menu-buttons button:hover {
    background-color: #202024;
    color: #ffffff;
    border: 3px solid #ffffff;
}

.sections-menu {
    display: flex;
    gap: 20px;
}


/* hero */
.hero {
    display: flex;
    margin-top: -80px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 20px;
}

.hero-text {
    justify-content: center;
    height: 333.36px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap:20px
}

.hero-text h1 {
    font-weight: 800;
    margin: 0;
    font-size: 45px;
}

.hero-text p {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
}

.hero img {
    width: 500px;
    border-radius: 10px;
}





